@font-face {
  font-family: "Futura";
  src: url(./Futura\ Book.ttf);
}

body {
  background: #000000;
  margin: 0;
  overflow-x: hidden;
  overflow-y: no;
  overflow: hidden;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 680px;
}

.block_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px;
  margin-top: 70px;
  color: #fff;
  z-index: 2;
}

.block_info .avatar {
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 9px #f0f0f02a);
  filter: drop-shadow(0px 0px 9px #f0f0f02a);
}

.block_info .text {
  font-family: "Futura";
  font-weight: 900;
  font-size: 55px;
  margin: 0;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.191);
}

.block_info .role,
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 300px;
  height: 50px;
}

.role .web,
.bots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 70px;
  height: auto;
  font-size: 22px;
  font-family: "Futura";
  text-indent: 5px;
}

.contacts {
  margin-top: 10px;
}

.contacts .Discord,
.Telegram,
.Github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: auto;
  font-size: 22px;
  font-family: "Futura";
  text-indent: 5px;
  transition: 0.2s linear;
  border: none;
  background-color: inherit;
}

.Discord {
 position: relative;
 display: inline-block;
}

.Discord:hover:after {
  content: attr(data-name);
  position: absolute;
  background: #3ba55d;
  border-radius: 30px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  font-size: 17px;
  padding: 3px 0;
  width: 100%;
  }

.contacts .Discord:hover,
.Telegram:hover,
.Github:hover {
  transform: scale(1.1);
}

.contacts .Discord:active,
.Telegram:active,
.Github:active {
  color: rgb(25, 108, 241);
}

.bots {
  padding-bottom: 6px;
}

.bots i {
  padding-bottom: 1px;
}

html {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
