@font-face {
  font-family: "Futura";
  src: url(./fonts/Futura\ Book.ttf);
}

@font-face {
  font-family: "Comfortaaa";
  src: url(./fonts/Comfortaa-Regular.ttf);
}

body {
  color: #ffffff;
  background: #d6d6d6;
  margin: 0;
  overflow-x: hidden;
  overflow-y: no;
}

html {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background: #f81157;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: #ffffff;
  transition: all 0.1s ease;
}

.content .block_info {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 7.5px;
}

.block_info .zitel {
  display: flex;
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 15px;
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 10px #831336;
  background: #f81157;
}

.zitel .block_ava {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
}

.block_ava .avatarka {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 0px 5px#831336d5);

  filter: drop-shadow(0px 2px 5px #831336d5);
}

.zitel .block_status {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 65%;
  height: auto;
}

.block_status .nickname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  height: auto;
  margin-top: 10px;
  font-family: "Comfortaaa";
}

.nickname .h {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0px 2px 2px #83133678;

}

.block_status .roles {
  display: flex;
  flex-flow: row wrap;
  margin-top: 7px;
  width: 100%;
  height: auto;
  padding-bottom: 7.5px;
}

.roles .Mer,
.Stroitel,
.Redstoyner,
.Resyrser,
.Sortirovka {
  font-family: "Futura";
  display: flex;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 50px;
  font-weight: 600;
  background-color: #f81157;
  border: 2px solid #ffffff;
  padding: 0 8px;
  height: 25px;
  -webkit-filter: drop-shadow(0px 0px 2px#831336d5);
  filter: drop-shadow(0px 0px 2px #831336d5);
}

.roles .Mer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

.Mer i {
  font-size: 17px;
  margin-right: 2px;
}

.roles .Stroitel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Stroitel i {
  font-size: 17px;
  margin-right: 5px;
}

.roles .Redstoyner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Redstoyner i {
  font-size: 17px;
  margin-right: 5px;
}

.roles .Resyrser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Resyrser i {
  font-size: 17px;
  margin-right: 5px;
}

.roles .Sortirovka {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Sortirovka i {
  font-size: 17px;
  margin-right: 5px;
}

.Name {
  display: flex;
  width: auto;
}

.Name h {
  font-family: "Futura";
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Name .logo {
  padding-left: 20px;
  width: 40px;
}

.menu .block_button {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 20px;
}

.menu .block_button .b1,
.b2,
.b3,
.b4 {
  display: flex;
  align-items: center;
  justify-content: start;

  border: none;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: auto;
  height: 100%;
  padding: 20px;
  background: #f81157;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  font-weight: 600;
  transition: 0.2s linear;
}

.menu .block_button .b1:hover,
.b2:hover,
.b3:hover,
.b4:hover {
  transform: scale(1.05);
  background: #ffffff;
  color: #f81157;
}
